{% load 'indian_numbers_tags' %}

<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Example/Demo</title>
  <meta name="description" content="Example application for django-indian-numbers">
  <meta name="author" content="Narendra Choudhary">
</head>
<body>
    <h3>django-indian-numbers</h3>
    <p><u>GITHUB</u> : http://github.com/narenchoudhary/</p>
    <p><u>ISSUES</u> : http://github.com/narenchoudhary/issues/</p>

    <h3>DESCRIPTION</h3>
    <p>
        django-indian-numbers is a reusable Django application for which provides
        <br>
        filters for Django templates for formatting numbers in Indian Number System.
    </p>

    <h3>FILTERS</h3>
    <ul>
        <li>intcomma_indian</li>
        <li>floatcomma_indian</li>
    </ul>
</body>
</html>