{% load indian_numbers_tags %}

<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Example/Demo</title>
  <meta name="description" content="Example application for django-indian-numbers">
  <meta name="author" content="Narendra Choudhary">
</head>
<body>
    <h3>django-indian-numbers</h3>
    <p><u>GITHUB</u> : https://github.com/narenchoudhary/django-indian-numbers</p>
    <p><u>ISSUES</u> : https://github.com/narenchoudhary/django-indian-numbers/issues</p>

    <h3>DESCRIPTION</h3>
    <p>
        django-indian-numbers is a small reusable Django application for which provides
        filters for Django templates for formatting numbers in Indian Number System.
    </p>

    <h3>FILTERS</h3>
    <ul>
        <li>intcomma_indian</li>
        <li>floatcomma_indian</li>
    </ul>

    <h3>EXAMPLES</h3>
    <p>intcomma_indian</p>
    <ul>
        <li>
            <p>
                {% verbatim %} {{ 0 | intcomma_indian }} {% endverbatim %} will be rendered
                as {{ 0 | intcomma_indian }}.
            </p>
        </li>
        <li>
            <p>
                {% verbatim %} {{ 0.00 | intcomma_indian }} {% endverbatim %} will be rendered
                as {{ 0.00 | intcomma_indian }}.
            </p>
        </li>
        <li>
             <p>
                {% verbatim %} {{ -1 | intcomma_indian }} {% endverbatim %} will be rendered
                 as {{ -1 | intcomma_indian }}.
            </p>
        </li>
        <li>
            <p>
                {% verbatim %} {{  26500 | intcomma_indian }} {% endverbatim %} will be rendered
                as {{ 26500 | intcomma_indian }}.
            </p>
        </li>
        <li>
            <p>
                {% verbatim %} {{  126500 | intcomma_indian }} {% endverbatim %} will be rendered
                as {{ 126500 | intcomma_indian }}.
            </p>
        </li>
        <li>
            <p>
                {% verbatim %} {{  1259647552 | intcomma_indian }} {% endverbatim %} will be rendered
                as {{ 1259647552 | intcomma_indian }}.
            </p>
        </li>
        <li>
            <p>
                {% verbatim %} {{  1259647552.25 | intcomma_indian }} {% endverbatim %} will be rendered
                as {{ 1259647552.25 | intcomma_indian }}.
            </p>
        </li>
        <li>
            <p>
                {% verbatim %} {{  -126500 | intcomma_indian }} {% endverbatim %} will be rendered
                as {{ -126500 | intcomma_indian }}.
            </p>
        </li>
        <li>
            <p>
                {% verbatim %} {{  126500.25 | intcomma_indian }} {% endverbatim %} will be rendered
                as {{ 126500.25 | intcomma_indian }}.
            </p>
        </li>
    </ul>
    <p>floatcomma_indian</p>
    <ul>
        <li>
            <p>
                {% verbatim %} {{ 25 | floatcomma_indian }} {% endverbatim %} will be rendered
                as {{ 25 | floatcomma_indian }}.
            </p>
        </li>
        <li>
            <p>
                {% verbatim %} {{ 121250.6 | floatcomma_indian }} {% endverbatim %} will be rendered
                as {{ 121250.6 | floatcomma_indian }}.
            </p>
        </li>
        <li>
            <p>
                {% verbatim %} {{ 121250.25 | floatcomma_indian }} {% endverbatim %} will be rendered
                as {{ 121250.25 | floatcomma_indian }}.
            </p>
        </li>
        <li>
            <p>
                {% verbatim %} {{ 121250.675 | floatcomma_indian }} {% endverbatim %} will be rendered
                as {{ 121250.675 | floatcomma_indian }}.
            </p>
        </li>
        <li>
            <p>
                {% verbatim %} {{ -121250.675 | floatcomma_indian }} {% endverbatim %} will be rendered
                as {{ -121250.675 | floatcomma_indian }}.
            </p>
        </li>
    </ul>
    <p>floatword_indian</p>
    <ul>
        <li>
            <p>
                {% verbatim %} {{ 1000 | floatword_indian }} {% endverbatim %} will be rendered
                as {{ 1000 | floatword_indian }}.
            </p>
        </li>
        <li>
            <p>
                {% verbatim %} {{ 15000 | floatword_indian }} {% endverbatim %} will be rendered
                as {{ 15000 | floatword_indian }}.
            </p>
        </li>
        <li>
            <p>
                {% verbatim %} {{ 15600 | floatword_indian }} {% endverbatim %} will be rendered
                as {{ 15600 | floatword_indian }}.
            </p>
        </li>
        <li>
            <p>
                {% verbatim %} {{ 100000 | floatword_indian }} {% endverbatim %} will be rendered
                as {{ 100000 | floatword_indian }}.
            </p>
        </li>
        <li>
            <p>
                {% verbatim %} {{ 1125000 | floatword_indian }} {% endverbatim %} will be rendered
                as {{ 1125000 | floatword_indian }}.
            </p>
        </li>
        <li>
            <p>
                {% verbatim %} {{ 10000000 | floatword_indian }} {% endverbatim %} will be rendered
                as {{ 10000000 | floatword_indian }}.
            </p>
        </li>
        <li>
            <p>
                {% verbatim %} {{ 56482485 | floatword_indian }} {% endverbatim %} will be rendered
                as {{ 56482485 | floatword_indian }}.
            </p>
        </li>
        <li>
            <p>
                {% verbatim %} {{ 56482485.25 | floatword_indian }} {% endverbatim %} will be rendered
                as {{ 56482485.25 | floatword_indian }}.
            </p>
        </li>
    </ul>
</body>
</html>