<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Example/Demo</title>
    <meta name="description" content="Example application for django-indian-numbers">
    <meta name="author" content="Narendra Choudhary">
    <!-- <link rel="stylesheet" href="https://unpkg.com/mvp.css"> -->
    <style>
        code {
            background-color: #118bee15;
            border-radius: 0;
            color: #000;
            display: inline-block;
            margin: 0 0.1rem;
            padding: 0 0.5rem;
        }
    </style>
</head>
<body>
<main>
    <p>
        <strong>Conditions:</strong>
        <ul>
            <li>See <code>USE_THOUSAND_SEPARATOR</code> in <code>example/settings</code> file. </li>
            <li>This tempalte doesn't load template tags.</li>
        </ul>
    </p>
    
    <p>
        <strong>Tests</strong>
        <ul>
            <li>100000</li>
            <li>10000000</li>
            <li>link-descripter-6225</li>
        </ul>
    </p>
</main>
</body>
</html>
